<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Hola <%= @estudiante.nombre %></h1>
<h2>Instrucciones: </h2>
<p class="lead">
  Ahora que has ingresado a la web del <b>Grupo 8092 de Laboratorio de Mecánica</b>
<p>
  Te recordamos las reglas:
</p>
<ul>
  <li>Descarga el archivo adjunto con los datos aleatorios que te corresponden, este conjunto de datos es único.</li>
  <li>Calcula la media de lo datos.</li>
  <li>Calcula la varianza de los mismos datos.</li>
</ul>
<h3>
  Entrega los resultados hechos a mano, así como los todos los pasos intermedios.
</h3>
</p>
<p>
  ¡Éxito!
</p>
</body>
</html>