<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Hola <%= @estudiante.nombre %></h1>
<h2>Instrucciones: </h2>
<p class="lead">
  Ahora que has aceptado las condiciones del <b>Grupo 8092 de Laboratorio de Mecánica</b>
<p>
  Te recordamos las reglas:
</p>
<ul>
  <li>Descarga el archivo adjunto con los datos aleatorios que te corresponden, este conjunto de datos es único.</li>
  <li>Calcula la media de los datos.</li>
  <li>Calcula la varianza de los mismos datos.</li>
</ul>
<h3>
  Recuerda que:
</h3>
<p>Debes entregar lo siguiente: </p>
<ul>
  <li>
    Todos los cálculos y resultados
    <ul>
      <li>Deberan ser hechos a mano, así como los todos los pasos intermedios.</li>
    </ul>
  </li>
  <li>
    <b>No se aceptarán calculos o resultados hechos a computadora o con calculadora. </b>
    <ul>
      <li>Es decir, no debes omitir u obviar ningún paso por sencillo o trivial que parezca.</li>
    </ul>
  </li>
</ul>
</p>
<h4>
  Solo serán tomados en cuenta los reportes que cumplan con estos requisitos.
</h4>
</p>
<p>
  ¡Éxito!
</p>
</body>
</html>