<div class="jumbotron">
  <p class="lead">
    Hola, estás ingresando a la web del <b>Grupo 8092 de Laboratorio de Mecánica</b>
  <p>
    <h1>
  <p>¡Muy Importante!</p>
  <p>
    Leer las siguientes instrucciones:
  </p>
  </h1>
  Si has decidido tomar este curso te pedimos lo siguiente,
  </p>
  <ul>
    <li>Ingresa tus datos en el formulario que aparecerá al dar click en el botón <span class="badge badge-success">Acepto las condiciones</span></li>
    <ul>
      <li> Al ingresar se generara un conjunto de datos aleatorios, este es único y personal.</li>
    </ul>
    <li>Descarga el archivo con los datos aleatorios.</li>
    <li>Calcula la varianza de los mismos datos.</li>
  </ul>
  <h2>Reporta tus resultados:</h2>
  <p>Debes entregar lo siguiente: </p>
  <ul>
    <li>
      Todos los cálculos y resultados
      <ul>
        <li>Deberan ser hechos a mano, así como los todos los pasos intermedios.</li>
      </ul>
    </li>
    <li>
      <b>No se aceptarán calculos o resultados hechos a computadora o con calculadora. </b>
      <ul>
        <li>Es decir, no debes omitir u obviar ningún paso por sencillo o trivial que parezca.</li>
      </ul>
    </li>
  </ul>
  </p>
  <h4>
    Solo serán tomados en cuenta los reportes que cumplan con estos requisitos.
  </h4>
  <p>
    Esta pequeña prueba es tu boleto de entrada al laboratorio.
  </p>
  <p><a class="btn btn-lg btn-success" href="<%= new_estudiante_path %>" role="button">Acepto las condiciones</a>
    <a class="btn btn-lg btn-danger" href="<%= estudiantes_path %>" role="button">No acepto las condiciones</a></p>

</div>



