
  <div class="jumbotron">
    <h1>Instrucciones: </h1>
    <p class="lead">
      Hola, estás ingresando a la web del <b>Grupo 8092 de Laboratorio de Mecánica</b>
    <p>
      Si has decidido tomar este curso te pedimos que,
    </p>
    <ul>
      <li>Ingreses tus datos en el formulario que aparecerá al dar click en el botón de abajo.</li>
      <li>Descargues el archivo con los datos aleatorios que se te presentarán.</li>
      <li>Calcules la media de lo datos.</li>
      <li>Calcules la varianza de los mismos datos.</li>
    </ul>
    Entrega los resultados hechos a mano, así como los todos los pasos intermedios.
    </p>
    <p>
      Esta pequeña prueba es tu boleto de entrada al laboratorio.
    </p>
    <p><a class="btn btn-lg btn-success" href="<%= new_estudiante_path %>" role="button">Acepto las condiciones</a></p>
  </div>



