<body>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md"></div>
      <div class="col-md">

        <img src="/meme.jpg">
      </div>
      <div class="col-md"></div>
    </div>
    <div class="row">
      <p></p>
    </div>
    <div class="row">
    <div class="col-md"></div>
    <div class="col-sm">
      <p>
        <a class="btn btn-lg btn-warning" href="/" role="button">Intentar otra vez</a>
      </p>
    </div>
      <div class="col-md"></div>

    </div>
  </div>
</div>
</body>